{% extends 'base/header.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/company.css' %}">
<div class="container">
    <div class="block1">
        <div class="block-img">
            <img src="{% static 'media/modern.png' %}" alt="modern">
        </div>
        <div class="block1-block">
            <div class="text-title">
                ISTOK
                <hr class="hr-line">
            </div>
            <div class="block-text">
                С нами начинается уют </br>
                вашего дома.
            </div>
        </div>
    </div>
    <div class="block2">
        <div class="block2-text">
            <div class="block2-text1">
                Мы создали бренд, предоставляющий высококачественный сервис</br>
                с использованием современных технологий как для взаимодействия</br>
                с клиентами, так и для организации производства. Мы уделяем</br>
                внимание защите окружающей среды и заботимся о благополучии</br>
                 людей. Кроме того, мы стремимся сделать процесс покупки</br>
                  максимально комфортным для наших клиентов.
                  <hr class="line-block2-1">
            </div>
            <div class="block2-text2">
                <div class="text2-q">
                    <img src="{% static 'media/q.svg' %}" alt="q">
                </div>
                <div class="text2-imp">
                    <div class="text-2-title">
                        Наша цель
                    </div>
                    <div class="block2-text1">
                        Предоставлять высококачественные услуги по изготовлению</br>
                        мебели на заказ и изменить представление людей о комфорте</br>
                        и уюте в доме, проявляя заботу о клиентах и окружающей среде.
                    </div>
                </div>  
            </div>
            <div class="block2-text3">
                <hr class="line-block2-2">
                У нашей команды большой опыт работы в крупной международной</br>
                мебельной компании, где мы усвоили, что бизнес делается</br>
                через людей и для людей, важность качества оказания услуги </br>
                и соблюдения гарантий, также в нашей команде есть специалисты,</br>
                которые на своём опыте знают, что такое мебель, как её качественно</br>
                произвести, и прошли большой путь от профильного образования</br>
                до опыта работы в крупных компаниях.
            </div>
        </div>
        <div class="block2-img">
            <img src="{% static 'media/foto1.png' %}" alt="foto">
        </div>
    </div>
    <div class="block3">
        <div class="block3-title">
            Наша команда
        </div>
        <div class="block3-block1">
            <div class="block3-foto1">
            <img src="{% static 'media/mix.png' %}">
            </div>
            <div class="block3-block2">
                <div class="block3-left">
                    <div class="block3-left-text">
                        <div class="block3-left-title">
                            Алексей
                            <hr class="line-block3">
                        </div>
                        <div class="block3-left-cont">
                            Опытный мебелировщик с более</br>
                            чем 8-летним стажем работы</br>
                            в области изготовления и монтажа</br>
                             мебели, стремлюсь применить свои</br>
                            навыки и знания для создания</br>
                             качественных и эстетически </br>
                             привлекательных изделий.
                        </div>
                    </div>
                </div>
                    <div class="block3-right">
                        <img src="{% static 'media/foto2.png' %}" alt="foto2">
                    </div>
                </div>
            </div>
            <div class="hr-lines">
                <hr class="line-presonal">
            </div>
            <div class="block3-block3">
                <div class="personal">
                    <img src="{% static 'media/foto3.png' %}" alt="foto">
                    <div class="pers-name">
                        Дмитрий
                    </div>
                    <hr class="line-pers">
                </div>
                <div class="personal">
                    <img src="{% static 'media/foto4.png' %}" alt="foto">
                    <div class="pers-name">
                        Антон
                    </div>
                    <hr class="line-pers">
                </div>
                <div class="personal">
                    <img src="{% static 'media/foto5.png' %}" alt="foto">
                    <div class="pers-name">
                        Елена
                    </div>
                    <hr class="line-pers">
                </div>
            </div>
        </div>
        <div class="block4">
            <div class="block4-title">
                Наши ценности
            </div>
            <div class="block4-cont">
                <div class="block4-left">
                    <img src="{% static 'media/img1.png' %}">
                    <div class="text-block4">
                        <div class="text-block4-title">
                            ОСОЗНАНИЕ ЗАТРАТ
                        </div>
                        <div class="text-block4-text">
                            Мы стремимся к тому, </br>
                            чтобы все могли себе</br>
                            позволить стильный </br>
                            и удобный дом.
                        </div>
                    </div>
                    <img src="{% static 'media/img2.png' %}">
                </div>
                <div class="block4-mid">
                    <div class="block4-mid-text">
                        <div class="block4-mid-title">
                            ПРОСТОТА
                        </div>
                        <div class="block4-mid-text1">
                            Простота — это неотъемлемая часть</br>
                            нашей компании. Она позволяет</br>
                            нам всегда оставаться верными себе</br>
                            и быть реалистичными в любой </br>
                            ситуации. Мы выполняем нашу </br>
                            повседневную работу, не усложняя</br>
                            её лишней бюрократией.
                        </div>
                    </div>
                    <img src="{% static 'media/img3.png' %}">
                    <div class="block4-mid-text">
                        <div class="block4-mid-title">
                            ЗАБОТА О ЛЮДЯХ
                        </div>
                        <div class="block4-mid-text1">
                            Мы понимаем, что наша</br> 
                            деятельность оказывает влияние </br>
                            на окружающую среду, и стремимся </br>
                            активно участвовать в решении</br>
                            экологических проблем. Мы хотим </br>
                            внести свой вклад в сохранение </br>
                            нашей планеты.
                        </div>
                    </div>
                </div>
                <div class="block4-right">
                    <img src="{% static 'media/img4.png' %}">
                    <div class="text-block4">
                        <div class="text-block4-title">
                            ОТЛИЧИЕ
                        </div>
                        <div class="text-block4-text">
                            Мы отличаемся от других </br>
                            компаний и не стремимся </br>
                            к тому, чтобы быть </br>
                            похожими на них. 
                        </div>
                    </div>
                    <img src="{% static 'media/img5.png' %}">
                </div>
            </div>
        </div>
        <div class="block5">
            <div class="block5-title">
                Преимущества работы с нами
                <hr class="title-line">
            </div>
            <div class="block5-title2">
                Наша цель — оказывать исключительное</br>
                качество и сервис, который доступен всем!
            </div>
            <div class="block5-conts">
                <div class="block5-top1">
                    <div class="block5-cont">
                        <img src="{% static 'media/ik1.svg' %}">
                        <div class="block5-cont-title">
                            <b>Рассрочка 0-0-6</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                        Честная рассрочка</br> 
                        без переплат и</br>
                         первоначального 
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik2.svg' %}">
                        <div class="block5-cont-title">
                            <b>Бесплатный</br>
                            дизайн-проект</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Наши специалисты </br>
                            подскажут, как воплотить  
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik3.svg' %}">
                        <div class="block5-cont-title">
                            <b>Под любое </br>
                            помещение</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Мы создаём мебель для</br>
                             любого помещения, 
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik4.svg' %}">
                        <div class="block5-cont-title">
                            <b>Честные сроки</br>
                                 изготовления!</b>
                                 <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            В ISTOK мы серьёзно </br>
                            подходим к своей работе 
                         </div>
                    </div>
                </div>
                <div class="block5-top2">
                    <div class="block5-cont">
                        <img src="{% static 'media/ik5.svg' %}">
                        <div class="block5-cont-title">
                            <b>Высококлассная </br>
                                фурнитура</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Мы не используем фурнитуру </br>
                            тех 
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik6.svg' %}">
                        <div class="block5-cont-title">
                            <b>10 Лет гарантии!</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Мы уверены в </br>качестве нашей </br>
                            мебели и предлагаем 
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik7.svg' %}">
                        <div class="block5-cont-title">
                            <b>Техника без наценки</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Наша цель — </br>
                            производить мебель, а</br>
                             не торговать бытовой 
                         </div>
                    </div>
                    <div class="block5-cont">
                        <img src="{% static 'media/ik8.svg' %}">
                        <div class="block5-cont-title">
                            <b>Лучшие материалы</br> 
                                по хорошей цене</b>
                            <hr class="line-cont">
                        </div>
                        <div class="block5-cont-text">
                            Мы работаем с </br>
                            различными 
                         </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="block6">
            <div class="block6-title">
                Этапы работы
            </div>
            <div class="block6-cont">
                <img src="{% static 'media/nature.png' %}">
                <div class="vector">
                    <img src="{% static 'media/vec.svg' %}">
                </div>
                <div class="bl1">
                    <div class="bl1-title">
                    <b>Онлайн консультация</b>
                    </div>
                    <div class="bl1-text">
                        Наш специалист свяжется с вами </br>
                        и поможет сделать выбор, расскажет</br>
                        о нас и материалах, запишет</br>
                        на встречу с дизайнером.
                    </div>
                </div>
                <div class="bl2">
                    <div class="bl1-title">
                    <b>Встреча с дизайнером</b>
                    </div>
                    <div class="bl1-text">
                        Наш дизайнер привезет с собой материалы,</br>
                         покажет вам отличие одного от другого,</br>
                          спроектирует стильный и эргономичный</br>
                           проект, а также оформит ваш заказ.
                    </div>
                </div>
                <div class="bl3">
                    <div class="bl1-title">
                    <b>Технический замер</b>
                    </div>
                    <div class="bl1-text">
                        Наши специалисты приедут</br>
                         со специализированным</br>
                          оборудованием, замерят каждую</br>
                          деталь вашего помещения.
                    </div>
                </div>
                <div class="bl4">
                    <div class="bl1-title">
                    <b>Конструирование</b>
                    </div>
                    <div class="bl1-text">
                        Наши конструктора создадут</br>
                         Вашу мебель с нуля. </br>
                         Каждый модуль уникален!
                    </div>
                </div>
                <div class="bl5">
                    <div class="bl1-title">
                    <b>Производство</b>
                    </div>
                    <div class="bl1-text">
                        Современное производство </br>
                        с промышленным оборудованием создаст</br>
                         для вас мебель, соответствующую самым</br>
                          высоким стандартам качества.
                    </div>
                </div>
                <div class="bl6">
                    <div class="bl1-title">
                    <b>Доставка и монтаж</b>
                    </div>
                    <div class="bl1-text">
                        Наш специалист свяжется с вами для согласования даты</br>
                         доставки и монтажа,  либо вы сможете сделать это </br>
                         самостоятельно через мобильное приложение.
                    </div>
                </div>
                <div class="bl7">
                    <div class="bl1-title">
                    <b>Обратная связь</b>
                    </div>
                    <div class="bl1-text">
                        Специалист контроля качества </br>
                        позвонит Вам после сборки и узнает,</br>
                         все ли Вам понравилось!
                    </div>
                </div>
                <div class="bl8">
                    <div class="bl1-title">
                    <b>Поддержка 24/7</b>
                    </div>
                    <div class="bl1-text">
                        Наши специалисты готовы ответить на все</br>
                         ваши вопросы и помочь решить любые</br>
                          проблемы. Мы всегда на связи и будем рады</br> вам помочь!
                    </div>
                </div>
            </div>
        </div>

</div>
{% include 'base/footer.html' %}
{% endblock %}